body {
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	color: seashell;
}

h1 {
	font-size: 24px;
}

hr {
	width: 100%;
}

.generator-container, .hacking-container {
	width: 500px;
	height: 650px;
	padding: 15px;
	border: 5px double red;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}

.generator-result, .hacking-result, .generator, .hacking {
	padding: 25px;
	border: 2px solid rgb(94, 255, 0);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.generator-result, .hacking-result {
	max-height: 100px;
	margin-bottom: 25px;
}

.generator, .hacking {
	flex: 1 0 auto;
	justify-content: flex-start;
}


#gen_start_btn, #hack_start_btn, #hack_my_pass_btn {
	padding: 10px;
	background-color: burlywood;
	border-radius: 5px;
	cursor: pointer;
}

#hack_my_pass_btn {
	margin-top: 15px;
}